<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>MVC model</h1>
    <p>This page will be deticated to explain the MVC(Model-View-Controller) frameworkby explaing eash part of the arhitecture </p>     
    <p>By Clicking this button I will travel to the router then to the controller which will take me to the views</p>
    <form action="/controller">
    <button id="btn">Controller</button>
    </form>
    <form action="/model">
    <button>Model</button>
    </form>
    <form action="/view">
    <button>Views</button>
    </form>

    <script src="/main.js"></script>
</body>
</html>