<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>View</h1>
    <button class="button" onclick="darkMode()">Dark/Light Toggle</button>
    <p>Any representation of information such as a chart, diagram or table. Multiple views of the same information are possible, such as a bar chart for management and a tabular view for accountants.</p>

    <form action="/">
    <button class="button">Back Home</button>
    </form> 
    <script src="/main.js"></script>
</body>
</html>